
#gameCanvas{
/* 	border:solid 1px black; */
/* 	border-radius:15px; */
	display:block;
	position:relative;
	z-index:0;
	border:solid 0px black;
}
#offCanvas{
	position:absolute;
	left:149px;
	top:180px;
	z-index:1;
	border:solid 0px red;
}

#canvasFrame{
	
	display:flex;justify-content:center;align-items:center;
	border:solid 1px;
	width:1080px;
	height:900px;
	border-radius:15px;
	background-color:gold;
}
.hidden{
	display:none;
}