
canvas{
/* 	border:solid 1px black; */
/* 	border-radius:15px; */
	display:block;
	position:relative;
	background-color:white;
	
}

#canvasFrame{
	
	display:flex;justify-content:center;align-items:center;
	border:solid 1px;
	width:1080px;
	height:900px;
	border-radius:15px;
	background-color:gold;
}
.hidden{
	display:none;
}